.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.top_view {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex: 0;
  margin: 10px 0;
}
