.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.top_view {
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0;
}

@media only screen and (max-width: 1200px) {
  .top_view {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .top_view {
    width: 500px;
  }
}
