.cards_container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 80%;

  div {
    width: 260px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(34, 34, 34);
    padding: 1rem;
  }
}
