.cards_container {
  display: flex;
  justify-content: space-between;
  width: 80%;

  .card {
    width: 280px;
    height: 220px;

    // border-radius: 5px;
    padding: 1rem;
  }

  .infected_card {
    position: relative;
    display: inline-block;
    background: #f7fff7;
    border-left: 10px solid #fcca46;
    background: linear-gradient(to left, #f7fff7 50%, #fcca46 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    margin-right: 10px;
  }

  .infected_card:hover {
    background-position: left;
  }

  .recovered_card {
    position: relative;
    display: inline-block;
    background: #f7fff7;
    border-left: 10px solid #4ecdc4;
    background: linear-gradient(to left, #f7fff7 50%, #4ecdc4 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    margin-right: 10px;
  }

  .recovered_card:hover {
    background-position: left;
  }

  .deaths_card {
    position: relative;
    display: inline-block;
    background: #f7fff7;
    border-left: 10px solid #ff6b6b;
    background: linear-gradient(to left, #f7fff7 50%, #ff6b6b 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
  }

  .deaths_card:hover {
    background-position: left;
  }

  @media only screen and (max-width: 768px) {
    .card {
      margin: 10px 0;
      width: 500px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .cards_container {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .cards_container {
    width: 500px;
    flex-direction: column;
    align-items: center;
  }
}
